@import url('./global.css');

.sect1 {
    min-height: 25vh !important;
    color: white;
    font-family: 'poppins';
    background-color: var(--primary);
}

.background {
    background-image: url("../images/hero.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    height: 80vh;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.content {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content h1 {
    font-family: 'poppins';
    color: white;
    text-shadow: 1px 2px grey;
}


.hero {
    height: 80vh !important;
}


.sect2L{
    background-color: var(--background);
}

.sect2L h1{
    color: var(--primary);
}
.sect2L p{
    color: black;
}
.sect2R{
    background-image: url('../images/section2.webp');
    background-size: cover;
    background-position: center;
}

.sect3{
    height: 25vh;
    background-color: white;
    color: var(--primary);
    font-family: 'poppins';
}
.sect4{
    color: white;
    font-family: 'poppins';
    min-height: 75vh;
    background-color: var(--background);
}

.colored{
    background-color: var(--primary);
    color: white;
}

.sect4 .col-lg-3 .p-4{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--primary);
    border: 3px var(--background) solid;
    min-height: 50vh;
}

.sect5{
    min-height: 100vh;
    text-align: justify;
}


.sect5 .carousel-indicators{
    margin-bottom: -2.5em;
    filter: invert(59%) sepia(10%) saturate(2073%) hue-rotate(119deg) brightness(99%) contrast(87%);
    
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    filter: invert(59%) sepia(10%) saturate(2073%) hue-rotate(119deg) brightness(99%) contrast(87%);
}

.sect4 .col-lg-3 .p-4:hover{
    background-color: var(--primary);
    cursor: pointer;
}



@media only screen and (max-width: 990px) {
    .background{
        background-size: cover;
    }

}


@media only screen and (max-width: 375px) {

}