@import url('./global.css');

main{
    min-height: 80vh;
}

main .card{
    background-color: var(--background);
    color: var(--primary);
    font-family: 'poppins';
}

.colored{
    background: var(--primary);
    color: white;
}

main h5{
    text-align: justify;
}

.sect1{
    background-color: var(--background);
}

.sect1 .container{
    min-height: 100vh;

}

.sect1 .image{
    background-image: url('../images/section2.webp');
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 990px) {

    main .card{
        margin: 1em;
    }


}