@import url('./global.css');

.card-header{
    background-color: transparent;
    border-right: 1px solid buttonFace;
    border-bottom: 0;
}

.card{
    min-height: 70vh;
}

.card-body{
    background-color: white;
}

main{
    min-height: 80vh;
}

.img-container{
    width: 100%;
}

.img-container img{
    height: 150px;
}

@media only screen and (max-width: 769px) {
    main .card{
        flex-direction: column !important;
    }
}